<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf8">
        <title><%=title%></title>
    </head>
    <body>
        <p>ejs파일로 만든 html</p>
        <img src="static/image/sea.png">

        <!-- <% %>javascript코드 작성 가능 -->
        <% for(var i=0; i<data.length ; i++ ){ %>  <!-- 한 줄 내에 열림과 닫힘이 꼭 있어야 함 -->
            <div>안녕<%=data[i]%></div>  <!-- ejs변수를 html에 나타내고 싶을 때 <$=변수명$>작성 -->
        <% } %>

        <!-- <% if(true) { %>

        <% } else if(true) { %>

        <% } %> -->

        <div style="color: red;"><%="<span style='color:aqua;'>안녕</span>"%>하세요</div> <!--"="은 tag를 인식 못함-->
        <div style="color: red;"><%-"<span style='color:blue;'>안녕</span>"%>하세요</div> <!--"-"은 tag를 인식함-->
        <div style="color:red;"><%="안녕"%></div>

        <%-include("test.ejs")%>  <!-- include함수는 다른 ejs파일의 내용을 가져올 수 있음, 상대경로 작성 -->
    </body>
</html>